<a href="https://colab.research.google.com/github/Abishek-077/AI-l-ML---PROJECTS/blob/main/DataPreprationEssentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STEP 1: Remove or Fix Inconsistencies

In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [31]:
df =sns.load_dataset('titanic') #Built in titanic dataset
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [32]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [33]:
df['age']= df['age'].fillna(df['age'].median())
df.dropna(subset=['deck'],inplace=True)
df['embarked'].fillna(df['embarked'].mode()[0],inplace=True)
df['embark_town'].fillna(df['embark_town'].mode()[0],inplace=True)
df.isnull().sum()

<ipython-input-33-c0e81989af6a>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embarked'].fillna(df['embarked'].mode()[0],inplace=True)
<ipython-input-33-c0e81989af6a>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embark_town'].fillna(df['embark_town'].mode()[0],inplace=True)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

STEP 3: Remove Outliners

Remove Outliers

In [34]:
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

#filter the outlinears
df = df[(df['age'] >= lower_bound) & (df['age'] <= upper_bound)]
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True

STEP 4 - Make sure what are the datatypes

In [35]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

Step 5: Correct Data Types

In [36]:
df['class'] = df['class'].astype('category')
df['sex'] = df['sex'].astype('object')
df['embarked'] = df['embarked'].astype('category')

This helps with :
- memory optimization
- Categorical encoding

Encoding Categorical Features

In [37]:
df = pd.get_dummies(df, columns=['sex', 'embarked', 'class'], drop_first=True)

STEP 7: Scale Numirical Features

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['age','fare']]=scaler.fit_transform(df[['Age','Fare']])

Step 8: Feature Engineering

Creates New Informative Features

In [38]:
# family size
df['family_size'] = df['sibsp'] + df['parch'] + 1

#Alone or not
df['isAlone']= (df['family_size']==1).astype(int)

STEP 9: Final Data checks

In [39]:
print(df.isnull().sum()) #check for any missings
print(df.duplicated().sum()) #check for duplicates
 # if Duplicates
 #print(df.drop_duplicated(inplace =True)# check for duplicatred

survived        0
pclass          0
age             0
sibsp           0
parch           0
fare            0
who             0
adult_male      0
deck            0
embark_town     0
alive           0
alone           0
sex_male        0
embarked_Q      0
embarked_S      0
class_Second    0
class_Third     0
family_size     0
isAlone         0
dtype: int64
1